@model MyBlog.Models.Blog

@{
    ViewData["Title"] = "Delete";
}

<h4>Delete Blog</h4>

<h5  style="color:red">@ViewBag.CannotDeleteBlog</h5>
<h5>@ViewBag.Message</h5>
<div>
    
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="BlogId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
